<!DOCTYPE html>
<html>
<head>
  <title>Employee Entry</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <!-- <link rel="stylesheet" href="/css/styles.css"/> -->
</head>

<body>
  <div class="container">
    <h2>Add Employee</h2>

    <form action="/employees" method="post">
      <label>Name</label>
      <input type="text" name="name" required/>

      <label>Position</label>
      <input type="text" name="position" required/>

      <label>Years of experience</label>
      <input type="number" name="yearsOfExperience" min="0" required/>

      <button type="submit">Save</button>
    </form>
  </div>
</body>
</html>